<header class="fixed z-10 w-screen top-0">
  <nav class="w-full border-gray-200 bg-gray-900/40 backdrop-blur-sm">
    <div
      class="grid w-full max-w-screen-xl grid-cols-2 p-4 mx-auto md:grid-cols-3"
    >
      <%- include('components/logo.ejs') %><%-
      include('components/user-button.ejs') %>
      <div
        class="items-center justify-center hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-user"
      >
        <ul
          class="flex flex-col w-[calc(100vw-2rem)] gap-y-1 items-center animate-duration-100 animate-fade-in-down md:animate-none mt-4 font-medium rounded-lg md:w-auto md:p-0 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0"
        >
          <%- include('components/nav-item.ejs', { text: 'Mis cursos', link:
          '/cursos' }) %> <%- include('components/nav-item.ejs', { text:
          'Catálogo', link: '/catalogo' }) %> <%-
          include('components/nav-item.ejs', { text: 'Contacto', link:
          '/contacto' }) %>
        </ul>
      </div>
    </div>
  </nav>
</header>
