<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <%- include('partials/head.ejs', { title: 'Home' }) %>
  <body class="relative h-full">
    <%- include('partials/header.ejs') %>
    <%- include('partials/debug/tailwind-size.ejs') %>
    <%- include('partials/background.ejs') %>
    <%- include('partials/components/carrousel.ejs') %>
    <section class="flex flex-col gap-10 py-10 md:py-14">
      <%-include('partials/components/titulo.ejs',{texto:'Continuar aprendiendo',icono:'laptop'} ) %>
      <div class="container flex flex-wrap items-center justify-center gap-4 px-3 mx-auto">
        <%- include('partials/components/item-curso.ejs',{img:'https://www.codespot.org/assets/css.jpg',titulo:'Aprende CSS',tags:['#CSS','#WebDev','#Design']}) %>
        <%- include('partials/components/item-curso.ejs',{img:'https://sevima.com/wp-content/uploads/2012/08/javascript-logo.jpg',titulo:'Aprende JavaScript',tags:['#JS','#WebDev','#Design']}) %>
        <%- include('partials/components/item-curso.ejs',{img:'https://pixelmechanics.com.sg/wp-content/uploads/2019/06/html5-logo-for-web-development.png',titulo:'Aprende HTML',tags:['#HTML','#WebDev','#Design']}) %>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  </body>
  <%-include('partials/footer.ejs') %>
</html>
